*{
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

@font-face {
  font-family: "poppins";
  src: url("./font/Poppins-Regular.ttf");
}

:root{
  --bg-color-a: #0DAABC;
  --bg-color-b: (90deg, #0DAABC 66.47%, rgba(13, 170, 188, 0.00) 100%);
}

.page{
  background-color: #1F1D2B;
  color: white;
  font-family: "poppins";
}

.whrapper{
  display: grid;
  grid-template-columns: 240px 1fr;
  grid-template-rows: 100px 1fr;
}

.header{
  padding: 2em;
  display: grid;
  grid-template-columns: 4fr 1fr;
  height: 40px;
  align-items: center;
  grid-row-start: 1;
  grid-row-end: 2;
}

.header__account{
  display: grid;
  align-items: center;
  grid-template-columns: 32px 64px 16px 1fr;
  column-gap: 1em;
  position: relative;
}

input{
  padding:4px 10px;
  border:0;
  font-size:16px;
}
.search__line{
  width: 645px;
  height: 40px;
  color: #808191;
  background-color: #353440;
  border-radius: 10px;
  font-size: 0.75rem;
}

.header__search{
  position: relative;
}

.search__ico{
  position: absolute;
  top: 13px;
  left: 616px;
}

.sidebar{
  width: 240px;
  height: 100dvh;
  color: #808191;
  padding: 1em 2em 2em 2em;
  grid-row-start: 1;
  grid-row-end: 3;
}

.sidebar__title{
  font-size: 1.25rem;
  padding-top: 1em;
  color: white;
}

.sidebar__marker{
  padding-right: 1em;
}

.button{
  outline: none;
  background: transparent;
  border: 0;
  cursor: pointer;
}

.sidebar__button{
  outline: none;
  background: transparent;
  border: 0;
  cursor: pointer;
  color: #808191;
  font-size: 0.875rem;
  font-weight: 700;
  display: flex;
  align-items: center;
  text-align: left;
  white-space: nowrap;
}

.account__notification{
  position: relative;
  position: absolute;
  top: 0.5em;
  left: 13em;
}

.notification__elypse{
  position: absolute;
  top: -4px;
  left: 10px;
}

.sidebar__list{
  font-weight: 700;
  font-size: 0.875rem;
  margin-top: 1em;
  color: #808191;
}

.sidebar__titleList{
  font-size: 0.687rem;
  text-transform: uppercase;
  margin-top: 4em;
}

li{
  list-style-type: none;
  grid-template-columns: 32px 1fr;
  display: grid;
  align-items: center;
  column-gap: 1em;
  margin-bottom: 2em;
}

.sidebar__line{
  margin-top: 1em;
}

.sidebar__switch {
  position: relative;
  display: inline-block;
  width: 51px;
  height: 31px;
  margin-top: 2em;
}

.sidebar__switch input {display:none;}

.slider {
  position: absolute;
  cursor: pointer;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: #ccc;
  -webkit-transition: .4s;
  transition: .4s;
}

.slider:before {
  position: absolute;
  content: "";
  height: 23px;
  width: 23px;
  left: 4px;
  bottom: 4px;
  background-color: white;
  -webkit-transition: .4s;
  transition: .4s;
}

input:checked + .slider {
  background-color: #6C5ECF;
}

input:focus + .slider {
  box-shadow: 0 0 1px #6C5ECF;
}

input:checked + .slider:before {
  -webkit-transform: translateX(18px);
  -ms-transform: translateX(18px);
  transform: translateX(18px);
}

.slider.round {
  border-radius: 31px;
}

.slider.round:before {
  border-radius: 50%;
}

.content{
  grid-column-start: 2;
  grid-row-start: 2;
  grid-row-end: 3;
  padding: 0 2rem 2rem 2rem;
}

.content__title{
  font-size: 2.5rem;
  margin-bottom: 1rem;
}

.content__discover{
  display: flex;
  column-gap: 20px;
}

.discover__card{
  border-radius: 20px;
  overflow: hidden;
  position: relative;
  color: white;
  text-align: left;
  height: 366px;
}

.cardLeft{
  width: 725px;
}

.cardRight{
  width: 352px;
}

.color__a{
  background-color: var(--bg-color-a);
}

.discover__img1{
  aspect-ratio: 2 / 1;
  object-fit: cover;
  width: 100%;
  height: 100%;
}

.discover__info{
  padding: 2rem;
  width: 290px;
  position: absolute;
}

.info__mainText{
  font-size: 1.875rem;
}

.info__accountIO{
  margin-top: 2rem;
  display: flex;
  align-items: center;
  column-gap: 1rem;
}

.info__accountIT{
  margin-top: 2rem;
  display: flex;
  flex-direction: column-reverse;
  row-gap: 1rem;
}

.accountI__name{
  font-size: 0.93rem;
  font-weight: 600;
  word-spacing: 0.5px;
}

.accountI__sub{
  font-size: 0.75rem;
  margin-top: 0.5rem;
}

.accountI__pfp{
  width: 60px;
  height: 60px;
  border-radius: 50%;
  border: 1px solid white;
  display: flex;
  justify-content: center;
  position: relative;
  padding: 0.25rem;
}

.pfp__circle{
  border-radius: 50%;
}

.pfp__check{
  position: absolute;
  bottom: 0;
  right: 0;
}

.discover__time{
  padding: 1em;
  height: 20px;
  background-color: #24273080;
  position: absolute;
  margin: 1.5rem;
  color: white;
  bottom: 0;
  right: 0;
  font-size: 0.625rem;
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 7px;
  font-weight: 600;
}

.mostWatch__title{
  font-size: 1.75rem;
  margin-top: 3rem;
}

.videos__videoCard{
  background-color: #252836;
  width: 259px;
  height: 313px;
  border-radius: 20px;
  position: relative;
  overflow: hidden;
  color: white;
  text-align: left;
}

.videoCard__imgCont{
  width: 259px;
  height: 160px;
  overflow: hidden;
}

.videoCard{
  object-fit: cover;
  width: 100%;
  height: 100%;
}

.videoCard__vInfo{
  padding: 1rem;
}

.vInfo__name{
  font-size: 0.8125rem;
  color: #B7B9D2;
  margin-top: 0.75em;
  margin-bottom: 1em;
}

.vInfo__sub{
  font-size: 0.75rem;
  color: #808191;
  margin-top: 1em;
}

.vAccount{
  top: 140px;
  right: 20px;
  position: absolute;
}

.videoCard__time{
  padding: 1.1em;
  height: 20px;
  background-color: #24273080;
  position: absolute;
  margin: 1rem;
  color: white;
  top: 0;
  right: 0;
  font-size: 0.625rem;
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 7px;
  font-weight: 600;
}

.mostWatch__videos{
  display: flex;
  column-gap: 20px;
  margin-top: 1rem;
}
